@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #F7F8FD;
    min-height: 100vh;
}
.container{
    width: 1300px;
    margin: 0 auto;
    /* background-color: red; */
}
.logo img{
    width: 120px;
    height: 35px;
}
.nav{
    display: flex;
    justify-content: space-around;
    padding-top: 42px;
}

.nav-items ul {
    display: flex;
    gap: 40px;
}
.nav-items ul li a{
    color: #03045E;
    font-weight: 500;
}

.login a{
    font-weight: 600 !important;
    border-radius: 5px;
    background-color: #03045E;
    padding: 10px 15px;
    color: white !important;
}
.banner{
    display: flex;
    gap: 150px;
}
.info{
    width: 550px;
}
.info h1{
    color: #03045E;
    font-size: 48px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 68px;
    margin-bottom: 20px;
}
.banner {
    margin-top: 150px;
}
.banner .info{
    margin-top: 120px;
}
.info p{
    color: #03055e8d;
    margin-bottom: 30px;
}
.price-btn{
    border: none;
    background-color: #0098FF;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
}
.package{
    display: flex;
    margin-top: 150px;
    margin-bottom: 100px;
    justify-content: space-between;
}
.package h1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #03045E;
    margin-bottom: 35px;
}
.hr{
    width: 1px;
    height: 200px;
    background-color: #03045E;
    opacity: 0.1;
}
.package-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 110px;

}
.domain{
    font-weight: 700;
    font-size: 20px;
    color: #0098FF;
}
.find-domain{
    display: flex;
}
.find-domain button{
    margin-left: -20px;
    position: relative;
    z-index: 1;
}
.find-domain input{
    width: 450px;
    border: none;
    padding: 20px;
    background-color: #F6F6F6;
    border-radius: 5px;
}
.find-domain input:focus{
    outline: none;
}
.monthly-price{
    color: #03045E;
    font-size: 15px;
    font-weight: 500;
    opacity: 0.3;
}

/* services section  */
.services{
   display: grid;
   grid-template-columns: 500px 500px 500px;
   place-content: center;
   place-items: center;
   grid-row-gap: 80px;
}
.service-section{
    background-color: #f6f6f695;
    width: 100%;
    padding: 150px 0px;
}
.common-heading{
    font-size: 40px;
    font-weight: 700;
    color: #03045E;
    text-align: center;
    margin-bottom: 60px;
}
.service h2 {
    font-size: 20px;
    font-weight: 700;
    color: #03045E;
    font-family: 'Ubuntu', sans-serif;
    margin: 30px 0px;
    text-align: center;
}
.service p{
    color: #03045E;
    opacity: 0.5;
    text-align: justify;
}
.service{
    width: 330px;
    padding: 30px;
}
.image-container{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: #F6F6F6;
    border-radius: 10px;
    display: grid;
    place-items: center;
}
.image-container img{
    width: 60px;
    height: 60px;
}
.service:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}